<div class="row mb-2">
  <div class="col-6 text-uppercase fw-bold">
    <span id="username" class="badge bg-primary" data-user-color="<%= data.user.color %>" data-user-name="<%= data.user.name %>"><%= data.user.name %></span>
  </div>
  <div class="col-6 text-end">
    <div class="badge bg-success"><span id="userOnline"></span> Online</div>
  </div>
</div>
<div class="card border-dark">
  <div class="card-body p-0">
    <div id="messageContainer" class="overflow-scroll p-2" style="height: 70vh"></div>
  </div>
  <div class="card-footer bg-dark text-white pt-1">
    <span id="typingStatus" class="d-block mb-2"></span>
    <div class="input-group">
      <textarea name="inputMessage" id="inputMessage" rows="2" class="form-control" placeholder="Write something..."></textarea>
      <button id="btnSendMessage" type="submit" class="btn btn-primary">Kirim</button>
    </div>
  </div>
</div>

<div id="toastContainer" class="d-flex flex-column align-items-end position-absolute top-0 end-0 p-3"></div>

<div class="modal fade" id="loginAlert" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">INFORMASI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Anda baru saja bergabung di chat ini.</p>
        <p>Jika anda keluar atau memuat ulang halaman (me-<i>refresh</i> halaman), maka anda akan dianggap sebagai pengguna baru dan pesan yang anda kirimkan sebelumnya akan dianggap sebagai pesan pengguna lain</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button class="btn btn-primary" data-bs-dismiss="modal">Mengerti</button>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>
