<h1>Login</h1>
<p>
  Diperlukan login terlebih dahulu. silahkan masukan nama Anda
</p>
<form action="/chat" method="get">
  <div class="input-group">
      <input type="text" class="form-control" name="nama" id="nama" placeholder="Nama" />
      <button type="submit" class="btn btn-primary">Join</button>
    </div>
  </div>
</form>
